@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&family=Overlock&family=Quicksand&family=Thasadith:wght@700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #222224;
}

html, body {
  margin: 0;
  height: 100%;
}



/* Estilos compartidos */


div {
  display: block;
}

.item-navegación, .item-footer {
  margin: 0 15px;
}

.link-navegación, .link-footer {
  line-height: 2.5;
}

.botón-coloreado {
  background-color:#FB3570;
  color: white;
  padding: 0 30px;
  border-radius: 100px;
}

a {
  text-decoration: none;
  color: #2e2e31;
  display: block;
}

ul li {
  list-style: none;
}

.sección {
  display: flex;
  justify-content: center;
  padding: 110px 40px 130px;
  text-align: center;
}

h1, h2 {
  color: rgb(17, 17, 17);
}

img {
  width: 100%;
  display: block;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  display: block;
  font-size: 45px;
  font-weight: 900;
}

.grilla {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.estructura-principal {
  width: 100%;
  max-width: 1100px;
}

/* Estilos compartidos */



/* Header */


header {
  background-color: rgba(255, 255, 255, 0.966);
  padding: 25px 0;
  box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
  display: flex;
  justify-content: center;
}

.header-navegación {
  display: flex;
  justify-content: flex-end;
}

.menu-navegación {
  font-family: 'Quicksand';
  display: flex;
  margin: 0;
}

.link-navegación:hover {
  color: #FB3570;
}

.fas.fa-bars {
  display: none;
}


/* Header */



/* Sobre mí */


.sección-sobre-mí {
  min-height: calc(100vh - 90px);
}

.contenido-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.información-sobre-mí {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.saludo {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 800;
}

.mi-nombre {
  margin-top: 0;
  margin-bottom: 5px;
  color: #FB3570;
  font-family: 'Dancing Script';
  font-weight: 900;
  font-size: 85px;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  display: block;
}

.descripción-sobre-mí {
  color: #7a7d85;
  font-size: 18px;
  margin-bottom: 40px;
  font-family: 'Quicksand';
}

.botón {
  background-color: #FB3570;
  color: white;
  padding: 15px 40px;
  border-radius: 100px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand';
  font-size: 18px;
}

.sección-imagen-principal {
  display: flex;
}

.imagen-principal {
  max-width: 520px;
  height: auto;
}


/* Sobre mí */



/* Conocimientos */


.sección-habilidades {
  background-color: #f6f7fb;
}

.descripción-habilidades {
  max-width: 400px;
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 18px;
}

.grilla-habilidades {
  justify-content: center;
  display: flex;
}

.habilidad {
  color: #2e2e31;
  background-color: #fff;
  border: 1px solid #e4e6ee;
  border-radius: 8px;
  width: 300px;
  margin: 10px;
  padding: 30px;
  cursor: pointer;
}

.ícono-habilidad {
  font-size: 75px;
  margin-top: 24px;
  margin-bottom: 20px;
  display: block;
}

.título-habilidad {
  font-size: 20px;
  font-weight: 900;
  font-family: 'Quicksand';
}

.devicon-html5-plain.color {
  color: rgb(229, 77, 38);
}

.devicon-css3-plain.color {
  color: rgb(61, 143, 198);
}

.devicon-sass-plain.color {
  color: rgb(204, 102, 153);
}

.devicon-javascript-plain.color {
  color: rgb(240, 219, 79);
}

.devicon-react-plain.color {
  color: rgb(97, 218, 251);
}

.devicon-git-plain.color {
  color: rgb(243, 79, 41);
}


/* Conocimientos */



/* Cita */


.sección-cita {
  background-color: #FB3570;
  color: white;
}

.ícono-cita {
  padding-bottom: 20px;
  font-size: 80px;
}

.cita {
  font-size: 21px;
  max-width: 800px;
  font-family: 'Quicksand';
}

.autora-cita {
  font-size: 36px;
  font-family: 'Dancing Script';
  font-weight: 900;
  color: white;
  margin-bottom: 0;
}


/* Cita */



/* Proyectos */


.filtro-programas {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: transparent;
  font-size: 16px;
  color: #2e2e31;
  cursor: pointer;
  text-align: center;
  align-items: flex-start;
  border: 0;
}

.filtro-proyecto {
  font-size: 19px;
  font-family: 'Quicksand';
  padding: 15px 40px;
  border-radius: 100px;
  font-weight: 570;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtro-proyecto:hover {
  color: #FB3570;
}

.hover-negro:hover {
  color: black;
}

.proyecto {
  width: 300px;
  margin: 13px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
}

.grilla.proyectos {
  display: flex;
  width: 100%;
  margin-top: 40px;
  
  justify-content: center;
  flex-wrap: wrap;
}

.título-proyecto {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Quicksand';
  font-size: 17px;
}


/* Proyectos */



/* Footer */


footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#FB3570;
  color: white;
  padding: 80px 20px;
  font-family: 'Quicksand';
}

.menu-footer {
  display: flex;
}

.link-footer {
  color: white;
}

.link-footer:hover {
  color: black;
}

.links-redes {
  display: flex;
  margin: 30px 0px;
  padding-right: 50px;
  height: 80px;
}

.ícono-redes {
  display: block;
  margin: 15px;
}

.fab:hover {
  font-size: 50px;
}

.fa-github, .fa-linkedin, .fa-envelope {
  font-size: 40px;
  color: white;
}

.última-frase-footer {
  font-family: 'Dancing Script';
  font-size: 25px;
  text-align: center;
}


/* Footer */



@media (max-width: 651px) {
  .menu-footer, .filtro-programas {
    flex-direction: column;
    align-items: center;
  }

  .header-navegación {
    display: none;
  }

  .fas.fa-bars {
    display: flex;
    font-size: 30px;
    margin: 10px;
  }

  .contenido-principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .información-sobre-mí {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer-navegación {
    display: none;
  }

  .imagen-principal {
    width: 100%;
    height: auto;
  }

  .proyecto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
  }

  .habilidad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    max-width: 200px;
  }

  .sección {
    padding: 110px 0;
  }

}


@media (max-width: 900px) and (min-width: 650px) {

  .contenido-principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .información-sobre-mí {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .proyecto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .sección {
    padding: 110px 0;
  }

}










