@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@900&family=Overlock&family=Quicksand&family=Thasadith:wght@700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #222224;
}

html, body {
  margin: 0;
  height: 100%;
}

header {
  background-color: rgba(255, 255, 255, 0.966);
  padding: 25px 0;
  box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
  display: flex;
  justify-content: center;
}

div {
  display: block;
}

.header-navegación {
  display: flex;
  justify-content: flex-end;
}

.menu-navegación {
  font-family: 'Quicksand';
  display: flex;
  margin: 0;
}

.item-navegación, .footer-nav-item {
  margin: 0 15px;
}

.link-navegación, .footer-nav-link {
  line-height: 2.5;
}

.botón-coloreado {
  background-color:#FB3570;
  color: white;
  padding: 0 30px;
  border-radius: 100px;
}

.link-navegación:hover {
  color: #FB3570;
}

.botón-coloreado:hover {
  color: black;
}

a {
  text-decoration: none;
  color: #2e2e31;
  display: block;
}

ul li, ol li {
  line-height: 1.4;
  list-style: none;
}

ul {
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style-type: disc;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.fas.fa-bars {
  display: none;
}

button {
  border: 0;
  background-color: transparent;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  color: #2e2e31;
  cursor: pointer;
  appearance: button;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  align-items: flex-start;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
}

.fa, .fas {
  font-weight: 900;
}
.fa, .far, .fas {
  font-family: "Font Awesome 5 Free";
}

.fa, .fab, .fas {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.sección-sobre-mí {
  min-height: calc(100vh - 90px);
}

.sección {
  display: flex;
  justify-content: center;
  padding: 110px 40px 130px;
  text-align: center;
}

.contenido-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.información-sobre-mí {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.saludo {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 800;
}

p {
  line-height: 1.4;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.mi-nombre {
  margin-top: 0;
  margin-bottom: 5px;
  color: #FB3570;
  font-family: 'Dancing Script';
  font-weight: 900;
  font-size: 85px;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
}

h1, h2 {
  color: rgb(17, 17, 17);
  margin-bottom: 0.375em;
  line-height: 1.2;
}

.descripción-sobre-mí {
  color: #7a7d85;
  font-size: 18px;
  margin-bottom: 40px;
  font-family: 'Quicksand';
}

.botón {
  background-color: #FB3570;
  color: white;
  padding: 15px 40px;
  border-radius: 100px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand';
  font-size: 18px;
}

.sección-imagen-principal {
  display: flex;
}

.imagen-principal {
  max-width: 520px;
}

img {
  width: 100%;
  display: block;
}

.sección-habilidades {
  background-color: #f6f7fb;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  font-size: 45px;
  font-weight: 900;
}

.descripción-habilidades {
  max-width: 400px;
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 18px;
}

.grilla-habilidades {
  justify-content: center;
  display: flex;
}

.grilla {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.habilidad {
  color: #2e2e31;
  background-color: #fff;
  border: 1px solid #e4e6ee;
  border-radius: 8px;
  width: 260px;
  margin: 10px;
  padding: 30px;
  cursor: pointer;
}

.ícono-habilidad {
  font-size: 4.71em;
  margin-top: 24px;
  margin-bottom: 20px;
  display: block;
}

[class*=" devicon-"], [class^="devicon-"] {
  font-family: devicon;
  speak-as: none;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
}

.devicon-html5-plain::before {
  content: "";
}

.devicon-html5-plain-wordmark.color, .devicon-html5-plain.color {
  color: rgb(229, 77, 38);
}

.título-habilidad {
  font-size: 1.25em;
  font-weight: 900;
  font-family: 'Quicksand';
}

.devicon-css3-plain-wordmark.color, .devicon-css3-plain.color {
  color: rgb(61, 143, 198);
}

.devicon-css3-plain::before {
  content: "";
}

.devicon-sass-original.color, .devicon-sass-plain-wordmark.color, .devicon-sass-plain.color {
  color: rgb(204, 102, 153);
}

.devicon-sass-original::before, .devicon-sass-plain::before {
  content: "";
}

.devicon-javascript-plain.color {
  color: rgb(240, 219, 79);
}

.devicon-javascript-plain::before {
  content: "";
}

.devicon-react-original-wordmark.color, .devicon-react-original.color, .devicon-react-plain-wordmark.color, .devicon-react-plain.color {
  color: rgb(97, 218, 251);
}

.devicon-react-original::before, .devicon-react-plain::before {
  content: "";
}

.devicon-git-plain-wordmark.color, .devicon-git-plain.color {
  color: rgb(243, 79, 41);
}

.devicon-git-plain::before {
  content: "";
}

.sección-cita {
  background-color: #FB3570;
  color: white;
}

.ícono-cita {
  padding-bottom: 20px;
  font-size: 80px;
}

blockquote {
  display: block;
  margin-block-start: 16px;
  margin-block-end: 16px;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.cita {
  font-size: 1.4rem;
  max-width: 800px;
  font-family: 'Quicksand';
}

.autora-cita {
  font-size: 2.3em;
  font-family: 'Dancing Script';
  font-weight: 900;
  color: white;
  margin-bottom: 0;
}

.filtro-programas {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.filtro-proyecto {
  font-size: 19px;
  font-family: 'Quicksand';
  padding: 15px 40px;
  border-radius: 100px;
  font-weight: 570;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtro-proyecto:hover {
  color: #FB3570;
}

.botón-coloreado.filtro-proyecto:hover {
  color: black;
}

.proyectos, .columna {
  width: 100%;
  max-width: 1100px;
}

.proyecto {
  width: 300px;
  margin: 13px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
}

.grilla.proyectos {
  display: flex;
  width: 100%;
  margin-top: 40px;
  padding: 30px;
  justify-content: center;
  flex-wrap: wrap;
}


.project-name {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Quicksand';
  font-size: 17px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#FB3570;
  color: white;
  padding: 80px 20px ;
  font-family: 'Quicksand';
}

.footer-nav-menu {
  display: flex;
}

.footer-nav-link {
  color: white;
}

.footer-nav-link:hover {
  color: black;
}

.footer-social-links {
  display: flex;
  margin: 30px 0px;
  padding-right: 50px;
}

.ícono-redes {
  display: block;
  margin: 15px;
}

.fab:hover {
  font-size: 50px;
}

.fa-github, .fa-linkedin, .fa-envelope {
  font-size: 40px;
  color: white;
}

.última-frase-footer {
  font-family: 'Dancing Script';
  font-size: 25px;
  text-align: center;
}

/* En celulares que no sean iphone la imagen se ve bien
pero en los Iphone no sé porqué mi imagen principal se ve estirada,
será por el navegador Safari? */

@media (max-width: 600px) {
  .footer-nav-menu, .filtro-programas {
    flex-direction: column;
    align-items: center;
  }

  .header-navegación {
    display: none;
  }

  .fas.fa-bars {
    display: flex;
    font-size: 30px;
    margin: 10px;
  }

  .contenido-principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .información-sobre-mí {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .footer-nav {
    display: none;
  }

  .imagen-principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .habilidad {
    max-width: 200px;
  }

  .proyecto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
  }

}

@media (max-width: 791px) and (min-width:601px) {
  .contenido-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .información-sobre-mí {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .proyecto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width: 900px) and (min-width: 792px)  {

  .contenido-principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .información-sobre-mí {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .proyecto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

}










